body {
	background-color: #f8f8ff;
}

main {
	min-height: 80vh;
}

h3 {
	padding: 1rem 0;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}
h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}

.rating span {
	margin: 0.1rem;
}
.placeOrderList {
	background: rgb(236, 231, 231);
	border: 0;
}

.rating span {
	margin: 0.1rem;
}
.carta {
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
	background: rgba(255, 255, 255, 0.1);
	border-top: rgba(255, 255, 255, 0.5);
	border-left: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
	opacity: 0.7;
}
.carta:hover {
	opacity: 1;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
	background: #5f9ea0;
}
.carousel-caption {
	position: absolute;
	top: 0;
}

.carousel-caption h2 {
	color: white;
}

.carousel img {
	height: 300px;
	padding: 30px;
	margin: 30px;
	border-radius: 20%;
	margin-left: auto;
	margin-right: auto;
}
.carousel a {
	margin: 0 auto;
}
.derecha {
	float: right;
}

.searchTextArea {
	width: 40%;
}
.searchButton {
	width: 25%;
}
@media (max-width: 980px) {
	.carousel-caption h2 {
		font-size: 2.5vw;
	}
	.searchTextArea {
		width: 40%;
	}
	.searchButton {
		width: 15%;
	}
	.carta {
		margin-left: 50px;
	}
}
@media (max-width: 768px) {
	.carta {
		margin-left: 75px;
	}
}
